/* Styles
----------------------------------------------------------------*/

html > body {
  background: #eee none repeat scroll 0 0;
  font-family: Verdana,Arial,sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6, h7, h8 {}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
h7 {}
h8 {}

p {}

a {color:#2b6086;}

a:link {}
a:active {}
a:visited {}
a:hover {}

ul {}
ul li {}

.clearfix {overflow:hidden;}

.clearfixof:before, .clearfixof:after { content: ""; display: table; }
.clearfixof:after { clear: both; }
.clearfixof { *zoom: 1; }

.marginfix > *:first-child {margin-top:0;}
.marginfix > *:last-child {margin-bottom:0;}

.spacefix, .spacefix * {
  margin:0;
  padding:0;
  border:0;
  border-collapse: collapse;
  border-spacing: 0;
  line-height:0;
  font-size:0;
}

.max-w4 {
    max-width:400px;
}

.max-w6 {
    max-width:600px;
}

.max-w8 {
    max-width:800px;
}

.max-w10 {
    max-width:1000px;
}

.max-h4 {
    max-height:400px;
}

.max-h6 {
    max-height:600px;
}

.max-h8 {
    max-height:800px;
}

.max-h10 {
    max-height:1000px;
}

/* Images
----------------------------------------------------------------*/

img {
  border-style: none;
  border-width: 0;
  max-width: 100%;
}

img.left {
  float:left;
  margin: 0 1em 1em 0;
}

img.right {
  float:right;
  margin: 0 0 1em 1em;
}

img.border {
  border:4px solid #333;
}

img.small {
  width:200px;
}

img.medium {
  width:400px;
}

/* Editor Styles ---------------- */

.form-table {
  border-spacing: 0;
  font-size: 12px;
  margin: 12px 0;
  text-align: left;
  width: 100%;
}

.form-table td {
  padding: 10px;
  vertical-align: bottom;
}

.form-table td:first-child {
padding-left:0px;
}

.form-table td:last-child {
padding-right:0px;
}

/**/

.form-container {
  background: #f8f5e3 none repeat scroll 0 0;
  border-radius: 4px;
  margin: 12px 0;
  padding: 12px;
}


.form-fieldset {
  background: #fff none repeat scroll 0 0;
  border: 0 solid #aaa;
  border-radius: 4px;
  margin: 20px 0;
}

.form-fieldset legend {
  background: #fff none repeat scroll 0 0;
  border-radius: 6px;
  display: block;
  float: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 0 8px;
}

.form-field {
    margin: 12px 0;
}

.form-field-fl {
    margin-right: 12px;
    float: left;
}

    .form-field-fl:last-child {
        margin-right: 0;
    }

.form-label {
    display: block;
    color: #8f883c;
    /*font-size: 12px;*/
}

.form-label-inline {
    display: inline-block;
    vertical-align: middle;
}

.form-field .req,
.form-label .req,
.form-label-inline .req{
	color:#ff0000;
}


/**/

/*
input.form-input,
textarea.form-input,
select.form-input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ccc;
    max-width: 100%;
}

input.form-input-fit,
textarea.form-input-fit,
select.form-input-fit {
    width: auto;
}

textarea.form-input {
    padding: 6px;
    resize: both;
    height: auto;
}

select.form-input {
}

input[type=checkbox].form-input,
input[type=radio].form-input {
    vertical-align: middle;
  width:auto;
  height:auto;
}

*/

.form-primary label {
  color: #999;
  display: block;
  font-weight: bold;
  margin: 0 0 3px;
}

.form-primary input, .form-primary textarea, .form-primary select {
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: 1px 1px 0 0 #eee;
  box-sizing: border-box;
  font-family: verdana;
  font-size: 12px;
  height: 30px;
  max-width: 100%;
  padding: 0 6px;
  width: 100%;
}

.form-primary input:focus,
.form-primary textarea:focus,
.form-primary select:focus{
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

.form-primary [disabled], .form-primary [readonly] {
    background-color: #eee;
    opacity: 1;
  cursor: not-allowed;
}

input.form-input-fit,
textarea.form-input-fit,
select.form-input-fit {
    width: auto;
}

.form-primary textarea {
    padding: 6px;
    resize: both;
    height: auto;
}

.form-primary select,
.form-primary option {outline: 0 none;}

.form-primary select {
}

.form-primary input[type="checkbox"], .form-primary input[type="radio"] {
  border: initial;
  height: auto;
  margin: 0 3px 0 0;
  padding: initial;
  vertical-align: middle;
  width: auto;
}

.form-primary .req {color:#a60000;}

/**/

.form-select-list {}

.form-select-list input[type=checkbox],
.form-select-list input[type=radio]{}

.form-select-list label {
  display: block;
  margin: 3px 0;
  vertical-align: middle;
}

/**/

.form-error-container {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    color: #a60000;
    padding: 12px;
}

    .form-error-container h3 {
        margin: 6px 0;
    }

    .form-error-container .table {
        margin: 0 0 12px;
    }

        .form-error-container .table th {
            background: #fff none repeat scroll 0 0;
            color: #000;
            font-size: 11px;
            font-weight: normal;
        }

    .form-error-container .btn btn-primary btn-xs {
        background: #a60000;
    }


/* Tables
----------------------------------------------------------------*/

.div-table {
  display: table;
  width: 100%;
}

.div-table > .div-row {
  display: table-row;
}

.div-table > .div-row > .div-cell {
  display: table-cell;
  padding: 5px;
  vertical-align: top;
}

.div-table-wide > .div-row > .div-cell:first-child {
  padding-left: 0;
}

.div-table-wide > .div-row > .div-cell:last-child {
  padding-right: 0;
}

.div-table-fixed {
  table-layout: fixed;
}

.div-cell-nowrap {
white-space:nowrap;
}

.div-cell-bottom {
vertical-align:bottom;
}

.div-cell-1 {width:10%;}
.div-cell-2 {width:20%;}
.div-cell-3 {width:30%;}
.div-cell-4 {width:40%;}
.div-cell-5 {width:50%;}
.div-cell-6 {width:60%;}
.div-cell-7 {width:70%;}
.div-cell-8 {width:80%;}
.div-cell-9 {width:90%;}

/**/

.table-wrap {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  white-space: nowrap;
}

.table-wrap > .table,
.table-wrap > .form-table {margin:0;}

/*----*/



.table {
  border-spacing: 0;
  font-size: 12px;
  margin: 12px 0;
  text-align: left;
  width: 100%;
}

    .table td,
    .table th {
        padding: 5px;
        vertical-align: top;
    }

    .table th {
        color: #7b97aa;
        font-size: 11px;
        background-color: #d1d9dd;
    }

td.table-data-nowrap,
th.table-data-nowrap,
.table-data-nowrap td
.table-data-nowrap th{
    white-space: nowrap;
}

td.table-data-nopad,
th.table-data-nopad,
.table-data-nopad td
.table-data-nopad th{
    padding: 0;
}

.table .table-data-collapse,
.form-table .table-data-collapse {
    width: 1px;
}

.table .table-data-nowrap,
.table.table-data-nowrap td {
    white-space: nowrap;
}

.table .table-data-bottom,
.table.table-data-bottom td {
    vertical-align: bottom;
}

.table .table-data-right,
.table.table-data-right td {
    text-align: right;
}

.table .table-data-middle,
.table.table-data-middle td {
    vertical-align: middle;
}

.table .table-data-center,
.table.table-data-center td {
    text-align: center;
}

/**/

.table-fit,
.table-fit {
    width: auto;
}

/**/

/**/

.table-striped tr:nth-child(2n) td {
    background: none repeat scroll 0 0 #fff;
}

.table-striped tr:nth-child(2n+1) td {
    background: none repeat scroll 0 0 #f3f3f3;
}

/**/

.table-fixed {
    table-layout: fixed;
}

.table-auto {
    table-layout: auto;
}

/**/

/**/

.table-data-lg td,
.table-data-lg th {
    padding: 15px;
}

.table-data-md td,
.table-data-md th {
    padding: 10px;
}

.table-data-nopad td,
.table-data-nopad th {
    padding: 0px;
}

/**/

.table-wide td:first-child,
.table-wide th:first-child {
    padding-left: 0;
}

.table-wide td:last-child,
.table-wide th:last-child {
    padding-right: 0;
}

/**/

.table-selectable td {
  cursor: pointer;
}

.table-selectable tr:hover td {
  background:#ccc;
}

.table tr.active td {
    background: #999;
}

/**/


/* Columns
----------------------------------------------------------------*/

.col-sidebar {}

.col-content {}


/* Button Styles ---------------- */

.btn-row {
    margin: 20px 0;
}

.btn-row-sm {
    margin: 6px 0;
}

.btn-row-md {
    margin: 12px 0;
}

.btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-family: Verdana,Arial,sans-serif;
}

.btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}

.btn-default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}

.btn-primary {
  background-color: #053C63;
  border-color: #15344A;
  color: #fff;
}

.btn-primary:hover {
  background-color: #15344A;
  border-color: #022640;
  color: #fff;
}

.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}

.btn-success:hover {
  background-color: #449d44;
  border-color: #398439;
  color: #fff;
}

.btn-info {
  background-color: #9bb5c7;
  border-color: #7D8B95;
  color: #fff;
}

.btn-info:hover {
  background-color: #7D8B95;
  border-color: #326181;
  color: #fff;
}

.btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #fff;
}

.btn-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
  color: #fff;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c9302c;
  border-color: #ac2925;
  color: #fff;
}

.btn-search {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  color: #fff;
}

.btn-search:hover {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  color: #fff;
}

.btn-link {
  border-radius: 0;
  color: #337ab7;
  font-weight: 400;
}

.btn-link:focus, .btn-link:hover {
  background-color: transparent;
  color: #23527c;
  text-decoration: underline;
}

.btn-lg {
    border-radius: 6px;
font-size: 18px;
line-height: 20px;
padding: 10px 16px;
}

.btn-sm {
    border-radius: 3px;
font-size: 12px;
line-height: 12px;
padding: 5px 10px;
}

.btn-xs {
  border-radius: 3px;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 4px;
}

.btn-block {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.btn-active, .btn:active {
  background-image: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  outline: 0 none;
}

.btn-disabled, .btn[disabled], fieldset[disabled] .btn {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-small {
    background: #073750; /* Old browsers */
    background: -moz-linear-gradient(top, #073750 0%, #07658d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#073750), color-stop(100%,#07658d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #073750 0%,#07658d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #073750 0%,#07658d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #073750 0%,#07658d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #073750 0%,#07658d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073750', endColorstr='#07658d',GradientType=0 ); /* IE6-9 */
}

.btn-small {
    border: medium none;
    border-radius: 2px;
    color: #fff !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 22px;
    line-height:22px;
    padding: 0 8px;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}



/*.btn-primary {
    display: inline-block;
    width: auto;
    height: 32px;
    background: none repeat scroll 0% 0% #053C63;
    color: #FFF;
    font-size: 16px;
    border: 1px solid #FFF;
    padding: 0px 18px;
    cursor: pointer;
    text-transform: none;
    box-shadow: 1px 1px 2px #555;
    border-radius: 4px;
}

    .btn-primary.btn-hide {
        display: none;
    }

    .btn-primary:hover {
        opacity: 0.8;
    }*/

/*.btn btn-primary btn-xs {
  background: #eee none repeat scroll 0 0;
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  line-height: 18px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
}*/

.btn-fl {
    float: left;
    margin-right: 16px;
}

.btn-xs.btn-fl {
    margin-right: 4px;
}

.btn-fl:last-child {
    margin-right: 0;
}

.btn-fr {
    float: right;
    margin-left: 16px;
}

.btn-xs.btn-fr {
    margin-left: 4px;
}

.btn-fr:last-child {
    margin-left: 0;
}

/* Pop Up Styles ---------------- */

.pop-container {
    display: none;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top:0;
}

.pop-bg {
    position: fixed;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    overflow: auto;
}

.pop-modal {
    background: linear-gradient(#dbc250, #f5edc7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    height: auto;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50px;
    z-index: 1000;
}

.pop-modal-full {}

.pop-modal-sm {
    width: 400px;
    margin: 0 0 0 -200px;
}

.pop-modal-md {
    width: 600px;
    margin: 0 0 0 -300px;
}

.pop-modal-lg {
    width: 800px;
    margin: 0 0 0 -400px;
}

.pop-header {
    color: #053c63;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 12px;
}

.pop-content {
    background: #fff;
    padding: 12px;
    border-radius: 5px;
}


/* Site Framework
----------------------------------------------------------------*/

.bd {}

.inner {
  padding: 0 20px;
}

.hd {
  /*background: none repeat scroll 0 0 #2b6086;*/
  background: none repeat scroll 0 0 #053c63;
  
  padding: 1em 0;
}

.logo {
  float: left;
  height: 44px;
}


.header-content {
  float: right;
  font-size: 12px;
}

.header-content,
.header-content a {color:#fff;}

.header-content p {margin-top:0;}

.pg {
  background: none repeat scroll 0 0 #ffffff;
  padding: 20px 0 20px;
}

.main {}

.content {}

.ft {
  background: #eee none repeat scroll 0 0;
}

.ft .inner {}

.ft, .ft a {
}

.site-creds {
}

/* Navigation
--------------------------------------------------------------------------------------------------------------------------------*/

/* Utility Nav
----------------------------------------------------------------*/

.utility-nav {
  clear: right;
  float: right;
  font-size: 12px;
  margin: 0 0 0.5em;
}

.utility-nav,
.utility-nav a {color:#999;}

.utility-nav ul {}

.utility-nav ul li {
  float: left;
  margin: 0 0 0 6px;
}

.utility-nav ul li a {}

/* Main Navigation
----------------------------------------------------------------*/

.main-nav {
  background: none repeat scroll 0 0 rgb(205, 218, 226);
  display: none;
  padding: 6px 0;
}

.main-nav ul {}

.main-nav ul li {
float: left;
}

.main-nav ul li a {
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  padding: 6px 16px;
  text-decoration: none;
}

.main-nav ul li a:hover {}

.main-nav ul li.cms-nav-current-section a {background:#2b6086;} 



/* Crumbtrail Navigation
----------------------------------------------------------------*/

ul.cms-nav-crumbtrail {
  display: none;
  font-size: 11px;
}

ul.cms-nav-crumbtrail li {
  float: left;
  margin: 0 6px 0 0;
}

ul.cms-nav-crumbtrail li, 
ul.cms-nav-crumbtrail li a {
  color: #666666;
  text-decoration: none;
}

/* Footer Navigation
----------------------------------------------------------------*/

.footer-nav {
  text-align: center;
}

.footer-nav, .footer-nav a {
  color: #FFFFFF;
}

.footer-nav ul {}

.footer-nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.footer-nav ul li a {}

.footer-nav ul li a.cms-nav-current, 
.footer-nav ul li a.cms-nav-current:hover {}


/* Web Orders
----------------------------------------------------------------*/


/**/

/*

.cols {}

.cols > .col {float:left;padding:0 15px;}

.cols.cols-wide {padding:0;}

.cols-2 > .col-1 {
width:50%;
}

.cols-3 > .col-1 {
width:33.33%;
}

.cols-3 > .col-2 {
width:66.66%;
}

.cols-4 > .col-1 {
width:25%;
}

.cols-4 > .col-2 {
width:50%;
}

.cols-4 > .col-3 {
width:75%;
}

.cols-5 > .col-1 {
width:20%;
}

.cols-5 > .col-2 {
width:40%;
}

.cols-5 > .col-3 {
width:60%;
}

.cols-5 > .col-4 {
width:80%;
}

.cols-6 > .col-1 {
width:16.66%;
}

.cols-6 > .col-2 {
width:33.32%;
}

.cols-6 > .col-3 {
width:49.98%;
}

.cols-6 > .col-4 {
width:66.64%;
}


.cols-6 > .col-5 {
width:83.3%;
}

*/

.col-row {margin:0 -1% 0 0;}

.col-row:before, .col-row:after { content: ""; display: table; }
.col-row:after { clear: both; }
.col-row { *zoom: 1; }


.col-1 {width:5.5%;}
.col-2 {width:14%;}
.col-3 {width:22.5%;}
.col-4 {width:31%;}
.col-5 {width:39.5%;}
.col-6 {width:48%;}
.col-7 {width:56.5%;}
.col-8 {width:65%;}
.col-9 {width:73.1%;}
.col-10 {width:82%;}
.col-11 {width:90.5%;}
.col-12 {width:99%;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  margin-left: 3%;
  min-height: 1px;
}

.col-row > :first-child {margin-left:0;}

/**/

.panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.panel-heading {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 15px;
}

.panel-heading * {margin:0;}

.panel-body {
  padding: 15px;
}

.panel-default {
  border-color: #ddd;
}

.panel-default > .panel-heading {
  background-color: #f5f5f5;
  border-color: #ddd;
  color: #333;
}

.panel-search {
  border-color: #f0ad4e;
  border-width: 0;
}

.panel-search > .panel-heading {
  background-color: #f0ad4e;
border-color: #f0ad4e;
color: #fff;
}

.panel-search > .panel-body {
background-color: #fcf8e3;
}



/*
.cols {margin:0 -.4% 0 0;}

.col-1 {width:8.2%;}
.col-2 {width:16.6%;}
.col-3 {width:24.9%;}
.col-4 {width:33.2%;}
.col-5 {width:41.5%;}
.col-6 {width:49.8%;}
.col-7 {width:58.1%;}
.col-8 {width:66.4%;}
.col-9 {width:74.7%;}
.col-10 {width:83%;}
.col-11 {width:91.3%;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {
  background: #eee none repeat scroll 0 0;
  float: left;
  height: 20px;
  box-sizing:borderbox;
  padding:15px;
}

.cols > :first-child {margin-left:0;}
*/



.cols-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cols-table > .cols-row {
  display: table-row;
}

.cols-table > .cols-row > .col {
  display: table-cell;
  padding: 1%;
  vertical-align: bottom;
}
